.one {
  background-color: aquamarine;
  /* Set fixed width, Even if screen size changes, width will be fixed as 500px. 
  If screen width is less than 500px, horizontal scroll bar will get added. This is called overflow;*/

  /* width: 500px; */

  /*Notes - a better way is use max-width, maximum width will be set as 500px, when you reduce screen size, 
  it does not add horizontal scroll bar & won't do overflow. Will work on mobile device too. We should not cause overflow*/
  
  max-width: 500px;

  min-height: 100px;
  /* default behavior of overflow */
  overflow: visible;
}
.two {
  background-color: blueviolet;
}
